#cal{
    text-align: center;
    color: brown;
}

button{
    background-color: burlywood;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}